In [2]:
import pandas as pd

In [3]:
#Set the DataFrame index using existing columns.

In [4]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})

In [5]:
df.set_index('month')

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [6]:
# Create a MultiIndex using columns ‘year’ and ‘month’:
df.set_index(['year', 'month'])

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [7]:
# Create a MultiIndex using an Index and a column:
df.set_index([pd.Index([1, 2, 3, 4]), 'year'])

        month  sale
  year
1 2012      1    55
2 2014      4    40
3 2013      7    84
4 2014     10    31

In [ ]:
df['new_col'] = range(1, len(df) + 1)

In [ ]:
#Alternatively if you want the index to be the ranks and store the original index as a column:
df = df.reset_index()

In [ ]:
df['new_col'] = np.arange(1, df.shape[0] + 1)

In [9]:
from pandas import *

idx = Int64Index([171, 174, 173])
df = DataFrame(index = idx, data =([1,2,3]))
print(df)

     0
171  1
174  2
173  3

In [ ]:
#The way to do that would be this:
#Bunu yapmanın yolu şu olacaktır

In [ ]:
#Setting a new index from a column
df.set_index('column_name', inplace=True)

In [ ]:
df=df.reset_index(drop=True)
df=df.sort_index()
df=df.set_index('column_name')
df.index = range(1, 31, 1) #a range starting at one ending at 30 with a stepsize of 1.
df=df.sort_values(by='column_name')

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/marsja/jupyter/master/SimData/FifthDayData.csv',
                index_col=0)
df.head()

In [ ]:
# Make column index while reading xlsx
df = pd.read_excel(xlsx_url, csv_url
                  index_col='ID')
df.head(

* DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
* Parameters
* keys: Column name or list of a column name.
* drop: It’s a Boolean value that falls the column used for the index if True.
* append: It appends the column to the existing index column if True.
* inplace: It makes the changes in the DataFrame if True.
* verify_integrity: It checks the new index column for duplicates if True.

In [ ]:
# https://appdividend.com/2019/01/26/pandas-set-index-example-python-set_index-tutorial/

In [ ]:
import pandas as pd
data = pd.read_csv('data.csv', skiprows=4)
data

In [ ]:
type(data.index)

In [ ]:
# Let’s see the first way. But, first, let’s choose the Athlete as an index and set that column as an index.

In [ ]:
data.set_index('Athlete',inplace=True)

In [ ]:
data

* Each column of the Pandas DataFrame is an instance of Pandas Series, a structure that contains one-dimensional data and its labels. Thus, you can get a single element of a Series object the same way you would with a dictionary using its label as the key.

* The attributes .ndim, .shape, and .size return the number of dimensions, the number of data values across each dimension, and a total number of data values, respectively.

* Reset Index in Pandas DataFrame
* Pandas reset_index() method resets an index of a Data Frame. reset_index() method sets a list of integers ranging from 0 to length of data as an index. We can use the reset_index() function to reset the index. Let’s see the following code.

In [ ]:
data.reset_index(inplace=True)
data

In [ ]:
# Now, see the second way to use the set_index() method.

In [ ]:
indexedData = data.set_index('Athlete')
indexedData